
.app-container {
    /* Replace with your image file name */
    background-size: 100% auto; /* Adjust sizing to cover the container */
    background-repeat: no-repeat; /* Prevent repeating the background */
    min-height: 100vh; /* Ensure the background covers the entire viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  